* {
  font-family: Helvetica, sans-serif;
  background: #baddad;
  color: navy;
}

p {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.notransform {
  transform: none !important;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
}

.spin {
  animation: spin 90s infinite;
  animation-timing-function: linear;
}

img {
  border-radius: 300px;
  width : 70%;
}
